@charset "UTF-8";
@import url("../css/nullstyle.css");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.45;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  flex-direction: column;
  display: flex;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1245px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  color: #000000;
  padding: 16px 32px;
  background-color: #FFCF74;
  border-radius: 4px;
  width: 270px;
  font-weight: 600;
  font-size: 24px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  text-align: center;
}
.btn:hover {
  transform: translateY(-5px);
  background-color: #ebbb63;
}
@media (max-width: 450px) {
  .btn {
    width: 100%;
    display: inline-block;
  }
}

.img {
  max-width: 100%;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.36;
  color: #000000;
  text-align: center;
  margin-bottom: 44px;
}

.text {
  color: #646464;
}

.header {
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #1B1B1B;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1B1B1B;
  z-index: 5;
}
@media (max-width: 768px) {
  .header {
    padding: 10px 0;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-family: "Open Sans", sans-serif;
  margin-right: 20px;
  position: relative;
  z-index: 6;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}
.header__button {
  position: relative;
  z-index: 6;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .header__button {
    position: fixed;
    bottom: -100%;
    right: 0;
    padding: 5px;
    width: 100%;
    color: #1B1B1B;
    background-color: #ebbb63;
    text-align: center;
    justify-content: center;
  }
  .header__button.active {
    bottom: 0;
  }
}
@media (max-width: 768px) and (max-width: 570px) {
  .header__button {
    font-size: 27px;
  }
}
.header__btn {
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  position: relative;
  margin-left: 5px;
}
.header__btn:hover {
  color: #FFCF74;
}
@media (max-width: 768px) {
  .header__btn {
    font-size: 28px;
    color: #fff;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 768px) {
  .header__burger {
    display: block;
    position: relative;
    height: 5px;
    width: 60px;
    z-index: 50;
    transition: all 0.3s ease;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    position: absolute;
    height: 5px;
    background: #fff;
    margin: auto;
    width: 100%;
    transition: all 0.3s ease-in-out;
  }
  .header__burger::before {
    top: 5px;
    right: 0;
    width: 75%;
    transform-origin: right;
  }
  .header__burger::after {
    bottom: 5px;
    right: 0;
    width: 100%;
    transform-origin: right;
  }
  .header__burger.active::after {
    width: 75%;
  }
  .header__burger.active::before {
    width: 100%;
  }
}

.menu {
  position: relative;
  z-index: 6;
  margin-left: 50px;
}
@media (max-width: 768px) {
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    background: #1B1B1B;
    padding: 100px 15px 0 0;
    overflow: auto;
    transition: all 0.3s ease-in-out;
    z-index: 5;
    margin-left: 0;
  }
}
.menu.active {
  right: 0;
}
.menu__list {
  display: flex;
  align-items: center;
  gap: 44px;
}
@media (max-width: 768px) {
  .menu__list {
    display: block;
    text-align: right;
  }
}
@media (max-width: 768px) {
  .menu__item {
    margin-bottom: 40px;
    display: block;
  }
}
.menu__link {
  color: #fff;
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.menu__link:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  /*задаём длинну линии до наведения курсора*/
  height: 2px;
  /*задаём ширину линии*/
  background: #FFCF74;
  /*задаём цвет линии*/
  transition: all 0.3s ease-in-out;
}
.menu__link:hover:after, .menu__link:focus:after {
  width: 100%;
  /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
@media (max-width: 768px) {
  .menu__link {
    font-size: 32px;
  }
}
@media (max-width: 570px) {
  .menu__link {
    font-size: 27px;
  }
}

@media (max-width: 768px) {
  .menu__item:nth-child(4) {
    margin-bottom: 70px;
  }
}

.home {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 190px 0;
}
@media (max-width: 450px) {
  .home {
    padding-top: calc(130px + 60 * (100vw - 320px) / 130);
    padding-bottom: calc(130px + 60 * (100vw - 320px) / 130);
  }
}
.home__inner {
  text-align: center;
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home__title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 64px;
  line-height: 1.35;
  color: #FFCF74;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .home__title {
    font-size: calc(33px + 31 * (100vw - 320px) / 448);
  }
}
.home__subtitle {
  font-size: 24px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 56px;
}
@media (max-width: 768px) {
  .home__subtitle {
    font-size: calc(16px + 8 * (100vw - 320px) / 448);
  }
}
@media (max-width: 450px) {
  .home__btn {
    width: 100%;
    display: inline-block;
  }
}

.home-page1 {
  background-image: url("../img/bg-p1.jpg");
}
@media (max-width: 550px) {
  .home-page1 {
    padding-bottom: 30px;
  }
}

.home-page2 {
  background-image: url("../img/bg-p2.jpg");
}
.home-page2__inner {
  max-width: 806px;
}
@media (max-width: 450px) {
  .home-page2__inner {
    max-width: 100%;
  }
}
.home-page2__title {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: #FFFFFF;
}
@media (max-width: 450px) {
  .home-page2__title {
    font-size: 40px;
  }
}
.home-page2__subtitle {
  font-size: 16px;
  line-height: 1.3;
  color: #DDDDDD;
}
@media (max-width: 400px) {
  .home-page2__subtitle {
    font-size: 14px;
  }
}
.home-page2__items {
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 20px;
}
@media (max-width: 550px) {
  .home-page2__items {
    display: block;
    margin-top: 56px;
  }
}
.home-page2__item {
  color: #fff;
  text-align: center;
  z-index: 2;
  position: relative;
  z-index: 2;
}
@media (max-width: 550px) {
  .home-page2__item {
    margin-bottom: 16px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 50px;
  }
}
.home-page2__item span {
  background-image: url();
  color: #000000;
  background-color: #FFCF74;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-bottom: 24px;
  display: inline-flex;
  position: relative;
}
@media (max-width: 550px) {
  .home-page2__item span {
    flex: 0 0 32px;
    margin-bottom: 0;
  }
}
.home-page2__item span::after {
  content: "";
  display: block;
  width: 250px;
  height: 1px;
  background-color: #FFCF74;
  position: absolute;
  top: 16px;
  left: 30px;
  z-index: -1;
}
@media (max-width: 830px) {
  .home-page2__item span::after {
    width: calc(150px + 100 * (100vw - 500px) / 330);
  }
}
@media (max-width: 550px) {
  .home-page2__item span::after {
    width: 1px;
    height: 100px;
    left: 50%;
  }
}
.home-page2__text {
  font-size: 16px;
  color: #EBEBEB;
}
@media (max-width: 550px) {
  .home-page2__text {
    text-align: left;
  }
}

.home-page2__item:nth-child(3) {
  margin-bottom: 0;
}

.home-page2__item:nth-child(3) span::after {
  display: none;
}

.home-page3 {
  background-image: url("../img/bg-p3.jpg");
}
@media (max-width: 550px) {
  .home-page3 {
    padding-bottom: 30px;
  }
}

.home-page3__item span::after {
  content: "";
  display: block;
  width: 210px;
  height: 1px;
  background-color: #FFCF74;
  position: absolute;
  top: 16px;
  left: 30px;
  z-index: -1;
}
@media (max-width: 1150px) {
  .home-page3__item span::after {
    width: calc(105px + 105 * (100vw - 600px) / 550);
  }
}
@media (max-width: 550px) {
  .home-page3__item span::after {
    width: 1px;
    height: 90px;
    left: 50%;
  }
}

.home-page3__items {
  grid-template-columns: repeat(5, 1fr);
}

.home-page3__inner {
  max-width: 100%;
}

.home-page2__item:nth-child(3) {
  margin-bottom: 50px;
}

.home-page3__item:nth-child(3) span::after {
  display: block;
}

.home-page3__item:nth-child(5) span::after {
  display: none;
}

.partners {
  margin: 12px 0;
}
.partners__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 15px;
}
.partners__inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  animation: scroll-partners 10s linear infinite;
  margin-bottom: 48px;
}

@keyframes scroll-partners {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.selection {
  padding: 80px 0;
  background: #FBFBFB;
}
@media (max-width: 768px) {
  .selection {
    padding: 50px 0;
  }
}
.selection__title {
  margin-bottom: 100px;
}
.selection__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  text-align: center;
}
@media (max-width: 768px) {
  .selection__inner {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 450px) {
  .selection__inner {
    grid-template-columns: repeat(1, 1fr);
  }
}
.selection__item {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 50px;
}
.selection__item span {
  position: absolute;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  font-size: 64px;
  line-height: 1.5;
  color: #000000;
  display: inline-block;
}
.selection__image {
  margin-bottom: 16px;
}
.selection__item--title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
  min-height: 40px;
}
.selection__text {
  flex: 0 1 auto;
}
.selection__button {
  text-align: center;
  margin-top: 30px;
}
.selection__btn {
  margin: 0 auto;
}

.selection-page2 {
  padding-bottom: 0;
}

.selection__title-page2 {
  margin-bottom: 44px;
}

.selection__subtitle {
  text-align: center;
  max-width: 930px;
  margin: 0 auto 44px;
}

.selection__inner-page2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 990px) {
  .selection__inner-page2 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .selection__inner-page2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 450px) {
  .selection__inner-page2 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.service {
  padding: 80px 0;
}
@media (max-width: 768px) {
  .service {
    padding: 50px 0;
  }
}
.service__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  text-align: center;
}
@media (max-width: 960px) {
  .service__row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 650px) {
  .service__row {
    grid-template-columns: repeat(1, 1fr);
  }
}
.service__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
}
.service__image {
  margin-bottom: 16px;
  height: 200px;
  overflow: hidden;
}
@media (max-width: 650px) {
  .service__image {
    height: auto;
  }
}
.service__img {
  transition: all 0.3s ease-in-out;
  max-width: 100%;
}
.service__item--title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: #000000;
  margin: 0 auto 16px;
  max-width: 300px;
}
@media (max-width: 450px) {
  .service__item--title {
    padding: 0 10px;
  }
}
.service__block {
  flex: 1 1 auto;
  text-align: left;
  margin: 0 0 22px;
  padding: 0 24px;
}
@media (max-width: 450px) {
  .service__block {
    padding: 0 10px;
  }
}
.service__text {
  margin-bottom: 12px;
  padding-left: 32px;
  position: relative;
}
.service__text::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon/check.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
}
.service__btn {
  padding: 8px 16px;
  max-width: 125px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
}

.work {
  background: #FBFBFB;
  padding: 80px 0;
  text-align: center;
}
@media (max-width: 768px) {
  .work {
    padding: 50px 0;
  }
}
.work__title {
  margin-bottom: 12px;
}
.work__subtitle {
  text-align: center;
  margin-bottom: 24px;
}
.work__container {
  position: relative;
}
.work__slide {
  padding: 8px;
  text-align: center;
  overflow: hidden;
  height: 222px;
}
@media (max-width: 1245px) {
  .work__slide {
    height: calc(142px + 80 * (100vw - 849px) / 396);
  }
}
@media (max-width: 849px) {
  .work__slide {
    height: calc(143px + 47 * (100vw - 649px) / 200);
  }
}
@media (max-width: 649px) {
  .work__slide {
    height: calc(145px + 79 * (100vw - 449px) / 200);
  }
}
@media (max-width: 449px) {
  .work__slide {
    height: 222px;
  }
}

.slick-track {
  display: flex;
  justify-content: space-between;
}

.slick-list {
  overflow: hidden;
}

.work__container .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.work__container .slick-dots li {
  list-style: none;
  margin: 0 3px;
}

.work__container .slick-dots li.slick-active button {
  background: #FFCF74;
  transition: all 0.3s ease-in-out;
}

.work__container .slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background: #DDDDDD;
  border-radius: 50%;
  cursor: pointer;
}

.work__container .slick-arrow {
  position: absolute;
  bottom: 0;
  font-size: 0;
  width: 8px;
  height: 14px;
  background: transparent;
}

.work__container .slick-arrow.slick-prev {
  left: 40%;
  background-image: url("../img/icon/arrow.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (max-width: 850px) {
  .work__container .slick-arrow.slick-prev {
    left: 37%;
  }
}
@media (max-width: 650px) {
  .work__container .slick-arrow.slick-prev {
    left: 30%;
  }
}
@media (max-width: 450px) {
  .work__container .slick-arrow.slick-prev {
    left: 0;
  }
}

.work__container .slick-arrow.slick-next {
  right: 40%;
  background-image: url("../img/icon/arrow.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  transform: rotate(180deg);
}
@media (max-width: 850px) {
  .work__container .slick-arrow.slick-next {
    right: 37%;
  }
}
@media (max-width: 650px) {
  .work__container .slick-arrow.slick-next {
    right: 30%;
  }
}
@media (max-width: 450px) {
  .work__container .slick-arrow.slick-next {
    right: 0;
  }
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: pointer;
}

.mfp-counter {
  display: none;
}

.about {
  padding: 80px 0;
}
@media (max-width: 768px) {
  .about {
    padding: 50px 0 26px;
  }
}
.about__title {
  margin-bottom: 24px;
}
.about__inner {
  max-width: 1010px;
  margin: 0 auto;
}
.about__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 24px;
}
@media (max-width: 600px) {
  .about__item {
    flex-direction: column;
    margin-bottom: 35px;
  }
}
.about__image {
  flex: 0 1 50%;
}
@media (max-width: 600px) {
  .about__image {
    flex: 0 1 100%;
  }
}
.about__text {
  flex: 0 1 50%;
}

@media (max-width: 600px) {
  .about__item:nth-child(2) {
    flex-direction: column-reverse;
  }
}

.certificates {
  padding: 40px 0;
  background-color: #FBFBFB;
}
.certificates__inner {
  position: relative;
}
.certificates__slide {
  height: auto;
}

.certificates__inner .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.certificates__inner .slick-dots li {
  list-style: none;
  margin: 0 3px;
}

.certificates__inner .slick-dots li.slick-active button {
  background: #FFCF74;
  transition: all 0.3s ease-in-out;
}

.certificates__inner .slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background: #DDDDDD;
  border-radius: 50%;
  cursor: pointer;
}

.certificates__inner .slick-arrow {
  position: absolute;
  bottom: 0;
  font-size: 0;
  width: 8px;
  height: 14px;
  background: transparent;
}

.certificates__inner .slick-arrow.slick-prev {
  left: 30%;
  background-image: url("../img/icon/arrow.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (max-width: 850px) {
  .certificates__inner .slick-arrow.slick-prev {
    left: 17%;
  }
}
@media (max-width: 650px) {
  .certificates__inner .slick-arrow.slick-prev {
    left: 20%;
  }
}
@media (max-width: 450px) {
  .certificates__inner .slick-arrow.slick-prev {
    left: 0;
  }
}

.certificates__inner .slick-arrow.slick-next {
  right: 30%;
  background-image: url("../img/icon/arrow.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  transform: rotate(180deg);
}
@media (max-width: 850px) {
  .certificates__inner .slick-arrow.slick-next {
    right: 17%;
  }
}
@media (max-width: 650px) {
  .certificates__inner .slick-arrow.slick-next {
    right: 20%;
  }
}
@media (max-width: 450px) {
  .certificates__inner .slick-arrow.slick-next {
    right: 0;
  }
}

.cooperation {
  padding: 40px 0;
  background-image: url("../img/cooperation/bg-cooperation.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cooperation__inner {
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
}
.cooperation__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.5;
  color: #FFFFFF;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .cooperation__title {
    font-size: calc(21px + 11 * (100vw - 320px) / 448);
  }
}
.cooperation__subtitle {
  font-size: 24px;
  line-height: 1.5;
  color: #DDDDDD;
  margin-bottom: 56px;
}
@media (max-width: 768px) {
  .cooperation__subtitle {
    font-size: calc(17px + 7 * (100vw - 320px) / 448);
  }
}

.stages {
  padding: 80px 0;
}
@media (max-width: 768px) {
  .stages {
    padding: 50px 0;
  }
}
.stages__title {
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .stages__title {
    font-size: 32px;
  }
}
.stages__subtitle {
  margin-bottom: 60px;
  text-align: center;
}
.stages__inner {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  gap: 16px;
}
@media (max-width: 950px) {
  .stages__inner {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 750px) {
  .stages__inner {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 620px) {
  .stages__inner {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 450px) {
  .stages__inner {
    grid-template-columns: repeat(1, 1fr);
  }
}
.stages__item {
  position: relative;
  min-width: 126px;
}
@media (max-width: 768px) {
  .stages__item {
    margin-bottom: 80px;
  }
}
.stages__item::after {
  content: "";
  display: block;
  width: 120px;
  height: 1px;
  background-color: #FFCF74;
  position: absolute;
  top: 25px;
  right: -68px;
  z-index: -1;
}
.stages__item--number {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  width: 50px;
  height: 50px;
  background-color: #FFCF74;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 16px;
  border-radius: 50%;
}
.stages__item--title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
  min-height: 40px;
}
@media (max-width: 1050px) {
  .stages__item--title {
    min-height: 50px;
  }
}
@media (max-width: 450px) {
  .stages__item--title {
    min-height: 30px;
  }
}
.stages__item--text {
  font-size: 14px;
  line-height: 1.4;
}

@media (max-width: 450px) {
  .stages__item:nth-child(1)::after {
    width: 1px;
    height: 60px;
    right: 50%;
    top: 130px;
  }
}
@media (max-width: 393px) {
  .stages__item:nth-child(1)::after {
    top: 150px;
  }
}

@media (max-width: 450px) {
  .stages__item:nth-child(2)::after {
    width: 1px;
    height: 60px;
    right: 50%;
    top: 130px;
  }
}
@media (max-width: 366px) {
  .stages__item:nth-child(2)::after {
    top: 150px;
  }
}

@media (max-width: 620px) {
  .stages__item:nth-child(3)::after {
    display: none;
  }
}
@media (max-width: 450px) {
  .stages__item:nth-child(3)::after {
    display: block;
    width: 1px;
    height: 60px;
    right: 50%;
    top: 130px;
  }
}

@media (max-width: 750px) {
  .stages__item:nth-child(4)::after {
    display: none;
  }
}
@media (max-width: 620px) {
  .stages__item:nth-child(4)::after {
    display: block;
  }
}
@media (max-width: 450px) {
  .stages__item:nth-child(4)::after {
    width: 1px;
    height: 60px;
    right: 50%;
    top: 130px;
  }
}

@media (max-width: 950px) {
  .stages__item:nth-child(5)::after {
    display: none;
  }
}
@media (max-width: 750px) {
  .stages__item:nth-child(5)::after {
    display: block;
  }
}
@media (max-width: 450px) {
  .stages__item:nth-child(5) {
    display: none;
  }
}

@media (max-width: 450px) {
  .stages__item:nth-child(6) {
    margin-bottom: 0;
  }
}
.stages__item:nth-child(6)::after {
  display: none;
}

.request {
  margin-bottom: 50px;
}
.request__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
@media (max-width: 950px) {
  .request__inner {
    flex-direction: column;
  }
}
.request__container {
  background-color: #FFCF74;
  padding-right: 0;
}
@media (max-width: 950px) {
  .request__container {
    padding: 50px 15px;
  }
}
.request__forma {
  flex: 0 1 50%;
}
.request__input-name {
  min-width: 350px;
  max-width: 395px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 450px) {
  .request__input-name {
    min-width: 100%;
  }
}
.request__input-name::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon/people.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
}
.request__input-tel {
  min-width: 350px;
  max-width: 395px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 450px) {
  .request__input-tel {
    min-width: 100%;
  }
}
.request__input-tel::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon/phone-form.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
}
.request__input-mail {
  min-width: 350px;
  max-width: 395px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 450px) {
  .request__input-mail {
    min-width: 100%;
  }
}
.request__input-mail::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon/mail.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
}
.request__btn {
  background-color: #fff;
  max-width: 195px;
  margin-top: 44px;
}
.request__image {
  flex: 0 1 50%;
}
@media (max-width: 950px) {
  .request__image {
    display: none;
  }
}

.request-input {
  display: block;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid #e6e4e4;
  border-radius: 4px;
  width: 100%;
  min-width: 350px;
  max-width: 395px;
  padding: 12px 12px 12px 50px;
  color: var(--white);
  font-size: 16px;
  margin: 0 auto 16px;
}
.request-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.request-input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 450px) {
  .request-input {
    min-width: 100%;
  }
}

.question {
  background: #FBFBFB;
  padding: 80px 0;
}
@media (max-width: 768px) {
  .question {
    padding: 50px 0;
  }
}
.question__container {
  max-width: 770px;
  margin: 0 auto;
}
.question__block--item {
  padding: 15px;
  border-bottom: 1px solid #DDDDDD;
}
@media (max-width: 450px) {
  .question__block--item {
    padding: 15px 0;
  }
}
.question__block--title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  color: #000000;
  position: relative;
  cursor: pointer;
  padding-left: 35px;
}
.question__block--title::after, .question__block--title::before {
  content: "";
  width: 16px;
  height: 3px;
  position: absolute;
  top: 10px;
  left: 0;
  background-color: #FFCF74;
  transition: all 0.3s ease-in-out;
}
.question__block--title::after {
  transform: rotate(90deg);
}
.question__block--title.active::before {
  transform: rotate(180deg);
}
.question__block--title.active::after {
  transform: rotate(180deg);
}
.question__block--text {
  display: none;
  color: #646464;
  margin-top: 12px;
}

.contact {
  padding: 80px 0;
}
@media (max-width: 768px) {
  .contact {
    padding: 50px 0;
  }
}
.contact__title {
  margin-bottom: 40px;
}
.contact__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
@media (max-width: 768px) {
  .contact__inner {
    flex-direction: column;
  }
}
.contact__item iframe {
  width: 600px;
  height: 200px;
  max-width: 100%;
}
.contact__item--map {
  flex: 0 1 60%;
}
@media (max-width: 900px) {
  .contact__item--map {
    flex: 0 1 50%;
  }
}
.contact__block {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.contact__image {
  margin-right: 12px;
  width: 20px;
  height: 20px;
}
.contact__link {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.3;
  color: #000000;
  transition: all 0.3s ease-in-out;
}
.contact__link:hover {
  color: #FFCF74;
}
@media (max-width: 450px) {
  .contact__link {
    font-size: 16px;
  }
}

.footer {
  padding: 19px 0;
  background: #3A3A3A;
}
.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 735px) {
  .footer__inner {
    flex-direction: column;
    gap: 30px;
  }
}
.footer__logo {
  margin-right: 10px;
  color: #fff;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
}
.footer__link {
  color: #fff;
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}
.footer__link:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  /*задаём длинну линии до наведения курсора*/
  height: 2px;
  /*задаём ширину линии*/
  background: #FFCF74;
  /*задаём цвет линии*/
  transition: all 0.3s ease-in-out;
}
.footer__link:hover:after, .footer__link:focus:after {
  width: 100%;
  /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
.footer__button {
  display: flex;
  align-items: center;
}
.footer__btn {
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  position: relative;
  margin-left: 5px;
  transition: all 0.3s ease-in-out;
}
.footer__btn:hover {
  color: #FFCF74;
}

.menu-footer {
  margin-left: 50px;
}
@media (max-width: 768px) {
  .menu-footer {
    margin-left: 0;
  }
}
.menu-footer__list {
  display: flex;
  align-items: center;
  gap: 44px;
}
@media (max-width: 600px) {
  .menu-footer__list {
    gap: calc(13px + 31 * (100vw - 320px) / 280);
  }
}

.footer__cooper {
  text-align: center;
  padding: 8px 0;
  font-size: 10px;
  background-color: #1B1B1B;
  color: #fff;
}
.footer__cooper a {
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.footer__cooper a:hover {
  color: #FFCF74;
}

.description {
  padding: 100px 0;
}
@media (max-width: 768px) {
  .description {
    padding: 80px 0;
  }
}
.description__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 630px) {
  .description__inner {
    flex-direction: column;
  }
}
.description__item {
  flex: 0 1 50%;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
.description__item span {
  color: #FFCF74;
}
.description__item-one {
  position: relative;
}
.description__item-one::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  background-image: url("../img/icon/quotes.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;
}
.description__item-two {
  position: relative;
}
.description__item-two::before {
  content: "";
  position: absolute;
  bottom: -50px;
  right: 0;
  background-image: url("../img/icon/quotes.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;
  transform: rotate(180deg);
}

.description__inner-page1 {
  display: block;
  text-align: center;
  max-width: 810px;
  margin: 0 auto;
}

.description__item-page1 {
  position: relative;
}
.description__item-page1::after {
  content: "";
  position: absolute;
  bottom: -50px;
  right: 0;
  background-image: url("../img/icon/quotes.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;
  transform: rotate(180deg);
}

.scroll-up {
  position: fixed;
  right: 30px;
  bottom: -30%;
  display: inline-block;
  font-size: 22px;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  color: #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  background-color: #ebbb63;
  border-radius: 50px;
  box-shadow: 0 0 55px rgba(235, 187, 99, 0.6588235294);
  animation: scroll 2s ease-in-out alternate infinite;
}

.scroll-up:hover {
  transform: translateY(-5px);
}

.show-scroll {
  bottom: 30px;
}
@media (max-height: 400px) {
  .show-scroll {
    right: 10px;
  }
}

@keyframes scroll {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px 50px;
  transition: all 0.3s ease-in-out;
}

.popup__content {
  max-width: 600px;
  position: relative;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.popup__close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 24px;
  color: #000000;
  z-index: 101;
  text-decoration: none;
}

.popup__form {
  display: block;
  background: #fff;
  border-radius: 10px;
  padding: 50px;
  position: relative;
  text-align: center;
}

@media (max-width: 450px) {
  .popup__form {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.popup__form h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.22;
  margin-bottom: 20px;
}

@media (max-width: 450px) {
  .popup__form h2 {
    font-size: 20px;
  }
}
.popup__form p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  margin-bottom: 30px;
}

@media (max-width: 450px) {
  .popup__form p {
    margin-bottom: calc(20px + 10 * (100vw - 320px) / 540);
    font-size: 14px;
  }
}
.popup__btn {
  margin-top: 56px;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}